spacy
https://github.com/explosion/spacy-models/releases/download/pl_core_news_md-3.7.0/pl_core_news_md-3.7.0.tar.gz
git+https://github.com/rogalski/fasttext-langdetect@main#egg=fasttext-langdetect
textstat
lm-dataformat
speakleash
pandas
pyfiglet
tqdm
rich




